<a href="https://colab.research.google.com/github/Gonyim/Practice/blob/main/programmers_lv0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 설명
# 문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

# 제한 조건
# s의 길이는 1 이상 5이하입니다.
# s의 맨앞에는 부호(+, -)가 올 수 있습니다.
# s는 부호와 숫자로만 이루어져있습니다.
# s는 "0"으로 시작하지 않습니다.
# 입출력 예
# 예를들어 str이 "1234"이면 1234를 반환하고, "-1234"이면 -1234를 반환하면 됩니다.
# str은 부호(+,-)와 숫자로만 구성되어 있고, 잘못된 값이 입력되는 경우는 없습니다.

In [ ]:
def solution():
    s = int(s)
    return s

1234

In [ ]:
# 자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
# 예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

In [ ]:
n = 123
m = str(n)
# str(n)
# spilt()

# b = 'dsffsdfds'

for i in len(m):
    sum += int(m[i])


sum = list(m[0]) + list(m[1]) + list(m[2])
int(m[0]) + int(m[1]) + int(m[2])
# n.split(',')

3

In [ ]:
n = 124223
total_sum = 0 
def solution():
    
    for i in range(0, len(str(n))):
        total_sum += int(str(n)[i])
    return total_sum

result = solution()
print(result)

14

In [ ]:
n = 124223

def solution():
    total = 0
    for i in range(0, len(str(n))):
        total += int(str(n)[i])
    
    return total

result = solution()
print(result)  # 출력: 14

14

In [ ]:
#100,000,000 이하 자연수

def solution(n):
    answer = 0
    a = n // 100000000
    n = n % 100000000
    b = n // 10000000
    n = n % 10000000
    c = n // 1000000
    n = n % 1000000
    d = n // 100000
    n = n % 100000
    e = n // 100000
    n = n % 100000
    f = n // 100000
    n = n % 100000
    g = n // 10000
    n = n % 10000
    h = n // 1000
    n = n % 1000
    i = n // 100
    n = n % 100
    j = n // 10
    k = n % 10
    answer = a + b + c + d + e + f + g + h + i + j + k
    return answer

1

In [ ]:
def solution():
    answoer = 0

In [ ]:
# 예를 들어, 상수의 앞에 쌓이는 재료의 순서가 [야채, 빵, 빵, 야채, 고기, 빵, 야채, 고기, 빵]일 때, 
# 상수는 여섯 번째 재료가 쌓였을 때, 세 번째 재료부터 여섯 번째 재료를 이용하여 햄버거를 포장하고, 
# 아홉 번째 재료가 쌓였을 때, 두 번째 재료와 일곱 번째 재료부터 아홉 번째 재료를 이용하여 햄버거를 포장합니다.
# 즉, 2개의 햄버거를 포장하게 됩니다.

# 상수에게 전해지는 재료의 정보를 나타내는 정수 배열 ingredient가 주어졌을 때,
# 상수가 포장하는 햄버거의 개수를 return 하도록 solution 함수를 완성하시오.

In [ ]:
# [2, 1, 1, 2, 3, 1, 2, 3, 1]	2
# [1, 3, 2, 1, 2, 1, 3, 1, 2]	0

In [ ]:
l = [2, 1, 1, 2, 3, 1, 2, 3, 1]
h = []
ham_count = 0

for i in l:
    h.append(i)
    if [1, 2, 3, 1] in h:
        remove,l[1, 2, 3, 1]
        ham_count += 1

ham_count

0

In [ ]:
l = [2, 1, 1, 2, 3, 1, 2, 3, 1]

1, 2, 3 in l

(1, 2, True)

In [ ]:
# 2023/05/18

In [ ]:
# 대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return 하는 solution를 완성하세요. 'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다. 단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.

# 예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.

In [ ]:
s = "Pyy"

a = s.upper().count('P')
b = s.upper().count('Y')

print(a == b)

False

In [ ]:
def solution(s):
    a = s.upper().count('P')
    b = s.upper().count('Y')
    return a == b

solution(s)

True

In [ ]:
[1,1,3,3,0,1,1]	[1,3,0,1]

In [ ]:
def solution(arr):
    answer_set = []
    answer_set = set(arr)
    return answer_set

answer_set

arr()

In [ ]:
def solution(arr):
    answer_set = set(arr)  # 리스트를 집합(set)으로 변환하여 중복된 원소 제거
    return answer_set

arr = [1, 1, 1, 2, 3, 3, 5, 5]
result = solution(arr)

print(result)

{1, 2, 3, 5}

In [ ]:
배열 arr가 주어집니다. 배열 arr의 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 이때, 배열 arr에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 단, 제거된 후 남은 수들을 반환할 때는 배열 arr의 원소들의 순서를 유지해야 합니다. 예를 들면,

arr = [1, 1, 3, 3, 0, 1, 1] 이면 [1, 3, 0, 1] 을 return 합니다.
arr = [4, 4, 4, 3, 3] 이면 [4, 3] 을 return 합니다.
배열 arr에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 return 하는 solution 함수를 완성해 주세요.

제한사항
배열 arr의 크기 : 1,000,000 이하의 자연수
배열 arr의 원소의 크기 : 0보다 크거나 같고 9보다 작거나 같은 정수

[1,1,3,3,0,1,1]	[1,3,0,1]

In [ ]:
answer = [1, 1, 2, 3, 3, 4]
a = set(answer)

a

{1, 2, 3, 4}

In [ ]:
문자열 str이 주어질 때, str을 출력하는 코드를 작성해 보세요.

제한사항
1 ≤ str의 길이 ≤ 1,000,000
str에는 공백이 없으며, 첫째 줄에 한 줄로만 주어집니다.

In [ ]:
str = input()

print(str)

helloworld!!
helloworld!!

In [ ]:
# 정수 a와 b가 주어집니다. 각 수를 입력받아 입출력 예와 같은 형식으로 출력하는 코드를 작성해 보세요.

In [ ]:
a,b = input().split()

print("a =", a)
print("b =", b)

In [ ]:
a, b = input().split()

print(f'a = {a}\nb = {b}')

4 5
a = 4
b = 5

In [ ]:
a = map(int, input())

# b = int(a)
# c = int(a)
c = a
type(a)

print(a)
# type(a), type(b), type(c)

# print(list(c))

In [ ]:

a, b = map(int, input().strip().split(' '))
print(f"a = {a}\nb = {b}")

type(a)
type(b)

In [ ]:
# 문자열 str과 정수 n이 주어집니다.
# str이 n번 반복된 문자열을 만들어 출력하는 코드를 작성해 보세요.

# 1 ≤ str의 길이 ≤ 10
# 1 ≤ n ≤ 5

# string 5

# stringstringstringstringstring

In [ ]:
a, b = input().strip().split(' ')
b = int(b)

a*b

sdjsdj 10

'sdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdj'

In [ ]:
# 영어 알파벳으로 이루어진 문자열 str이 주어집니다. 각 알파벳을 대문자는 소문자로 소문자는 대문자로 변환해서 출력하는 코드를 작성해 보세요.

In [ ]:
# a.islower()
# a.isupper()
a = input()
result = ''
for i in a:
    if i.isupper():
        result += i.lower()
    else:
        result += i.upper()

print(result)

jwjwSdmnsX
JWJWsDMNSx

In [ ]:
print(input().swapcase())

soosSSSdfXaa
SOOSsssDFxAA

In [ ]:
print('!@#$%^&*(\\\'"<>?:;')

!@#$%^&*(\'"<>?:;

In [ ]:
# 두 개의 문자열 str1, str2가 공백으로 구분되어 입력으로 주어집니다.
# 입출력 예와 같이 str1과 str2을 이어서 출력하는 코드를 작성해 보세요.

str1, str2 = input().strip().split(' ')

print(str1 + str2)

aplle pen
apllepen

In [ ]:
print(input().strip().replace(' ', ''))

apple pen
applepen

In [ ]:
# 문자열 str이 주어집니다.
# 문자열을 시계방향으로 90도 돌려서 아래 입출력 예와 같이 출력하는 코드를 작성해 보세요.

a = input()
b = ""
for i in a:
    print(i)

alslx
a
l
s
l
x

In [ ]:
# 자연수 n이 입력으로 주어졌을 때 만약 n이 짝수이면 "n is even"을, 홀수이면 "n is odd"를 출력하는 코드를 작성해 보세요.

In [ ]:
n = int(input())

if n % 2 == 0:
    print(f'{n} is even')
else:
    print(f'{n} is odd')

223
223 is odd

In [ ]:
# 문자열 my_string, overwrite_string과 정수 s가 주어집니다.
# 문자열 my_string의 인덱스 s부터 overwrite_string의 길이만큼을 문자열 overwrite_string으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.

# "He11oWor1d"	"lloWorl"	2	"HelloWorld"
# "Program29b8UYP"	"merS123"	7	"ProgrammerS123"

In [ ]:
my_string, overwrite_string = input().split()
s = int(input())

my_string[s:] = overwrite_string

print(my_string)

In [ ]:
my_string, overwrite_string = input().split()
s = int(input())

my_string = my_string[:s] + overwrite_string + my_string[s+len(overwrite_string):]
print(my_string)

In [ ]:
def solution(str1, str2):
    for i in range(0, len(str(str1))):
        answer += str1[i] + str2[i]
    return answer

In [ ]:
# ["a","b","c"]	"abc"

6

In [ ]:
z = ["a","b","c"]

join(z, '')

In [ ]:
my_list = ['Hello', 'World', 'Python']
result = '$abc'.join(my_list)
print(result)

Hello$abcWorld$abcPython

In [ ]:
# 문자열 my_string과 정수 k가 주어질 때, my_string을 k번 반복한 문자열을 return 하는 solution 함수를 작성해 주세요.

def solution(my_string, k):
    answer = my_string * k
    return answer
    

solution('aaa', 3)

'aaaaaaaaa'

In [ ]:
a = '*'

for i in range(1,10,2):
    z = a * i

    print(z)

*
***
*****
*******
*********

In [ ]:
a = '*'

for i in range(1, 10, 2):
    z = a * i
    print(z.center(9))

    *
   ***
  *****
 *******
*********

In [ ]:
a = '*'

for i in range(1, 10, 2):
    z = a * i
    print(' ' * ((9 - i) // 2) + z)

    *
   ***
  *****
 *******
*********

In [ ]:
print('    *')
print('   ***')
print('  *****')
print(' *******')
print('*********')

    *
   ***
  *****
 *******
*********

In [ ]:
b = 0
for i in range(1,101):
    a = ''
    if i % 2 == 1:
        a += str(i)
        print(a, end =" ")
        b += int(i)
    else:
        a += str(-i)
        print(a, end =" ")
        b -= int(i)

print('\n결과 :', b )

In [ ]:
a = 0

for i in range(1, 78):
    a += ((78-i) * (i))

print(a)

79079

In [ ]:
a = 1
n = int(input("정수를 입력해주세요)"))
for i in range(0, n):
    a += i
    print(a, end =" ")

정수를 입력해주세요)7
1 2 4 7 11 16 22

In [ ]:
연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 b ⊕ a 중 더 큰 값을 return 하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 b ⊕ a가 같다면 a ⊕ b를 return 합니다.

In [ ]:
def solution(a, b):
    answer1 = str(a) + str(b)
    answer2 = str(b) + str(a)
    if int(answer1) > int(answer2):
        return int(answer1)
    else:
        return int(answer2)

solution(2234, 54)

542234

In [ ]:
a = 2
b = 3
def solution(a, b):
    return int(max(f"{a}{b}", f"{b}{a}"))

In [6]:
def solution(ineq, eq, n, m):
    answer = 0
    if eq == "=":
        elif boolen(n, ineq, eq, m) == 1:
            return 1
    elif boolen(m, ineq, m) == 1:
        return 1
    else:
        return 0
            
            
        return answer

solution("<", "=", 10, 20)

SyntaxError: ignored

In [ ]:
def solution(ineq, eq, n, m):
    answer = 0
    if eq == "=":
        if boolen(n, ineq, eq, m) == 1:
            return 1
    elif boolen(m, ineq, m) == 1:
        return 1
    else:
        return 0

solution("<", "=", 10, 20)

In [ ]:
def solution(ineq, eq, n, m):
    if ineq == "<":
        if eq == "=":
            return int(n <= m)
        elif eq == "!":
            return int(n < m)
    elif ineq == ">":
        if eq == "=":
            return int(n >= m)
        elif eq == "!":
            return int(n > m)
    return 0

In [9]:
def solution(a, b, flag):
    
    if flag == "true":
        return a + b
    else:
        return a - b

solution(-4, 7, 'true')

3