<a href="https://colab.research.google.com/github/Gonyim/Ormi_Python/blob/main/python_deep_dive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# colab 사용법

* MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.
1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# 마크다운

* 필수 마크다운

    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

* 선택 마크다운(필수가 아니니 부담가지지 마세요.)

    ```
    # h1
    ## h2
    ### h3
    #### h4
    ##### h5
    ###### h6

    ---

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello

    - hello
    - hello
    - hello

    __굵게__
    **굵게**
    _기울여 쓰기_
    *기울여 쓰기*
    ~취소선~
    ~~취소선~~

    > 인용문 작성하기
    `인라인 코드는 이렇게 작성해요.`

    [인라인 링크](https://velog.io/)

    ![이미지 설명](이미지 링크)
    
    * table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.
    
    | 1 | 2     | 3 | 4 | 5     |
    |---|-------|---|---|-------|
    | 1 | hello | 3 | 4 | world |

    * [ ] hello
    * [X] hello
    ```

# Python

In [ ]:
#행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [ ]:
# 아래와 같이 열단위 주석으로 text를 넣을 수도 있습니다.
data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

data

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [ ]:
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [ ]:
connect_to_next_port

In [ ]:
# 띄어쓰기 4칸 (tab(스페이스 4칸과 다릅니다!), 6칸, 7칸 다 작동합니다.)

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
	print('큰 따옴표로 세번 묶거나')

TabError: ignored

In [ ]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello(x):
    return x**2

class A: # 자동차 공장
    pass

n = hello # function
o = print # bulit-in function (https://docs.python.org/3/library/functions.html)
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance # 자동차
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

In [ ]:
# 이스케이프 문자
# https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')
print('hello \\ world')

In [ ]:
# type -> string

hello = 10

print(r'hello \n world') # str -> raw (Django 2.x까지 url parsing을 이렇게 사용하고 있어요.)
print(f'hello \n world {hello}') # 앞으로 f-string 기법
print('hello world {}'.format(hello))

In [ ]:
# type -> float
# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 우리 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

In [ ]:
print(2.3e-3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E-3)

2.3 * (10 ** -3)

In [ ]:
type(2.3E-3)

In [ ]:
class A: # 자동차 공장
    pass

a = A # class
b = A() # instance # 자동차

print(type(a))
print(type(b))

In [ ]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type을 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

In [ ]:
print(type(a))

In [ ]:
dir(a)

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

In [ ]:
# 위만큼 자주사용하진 않지만 타입 확인 코드
a = 10
isinstance(a, int)
isinstance(a, float)

## 변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만
# y라는 포스트잇도 붙여져 있는 것입니다.
x = 10
y = 10

id(x), id(y) # id는 누굴 가리키고 있는지 그 주소값을 반환합니다.

In [ ]:
x is y

In [ ]:
x = 257
y = 257

id(x), id(y)

In [ ]:
x is y

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.

# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [ ]:
x = -5
y = -5

id(x), id(y)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a' + 'a'

In [ ]:
# 왜 이어 붙였지?
# 컴퓨터 입장에서 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자!

In [ ]:
# cpython -> 이어 붙이라고 정의가 되어 있어서
# 사회 통념적인 약속 -> 코드로 구현
# type, dir
# 이러한 약속들은 메직메서드(__init__.....)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [ ]:
'10' + '10'

In [ ]:
int('10') + int('10')

In [ ]:
# 지금 배우는 포인트는 class가 중요한 문법이 아니라
# 이러한 '약속'을 우리가 변경할 수 있다가 중요한 포인트입니다.
class int(int):
    def __add__(self, a):
        return 'leehojun'

int('10') + int('10')

In [ ]:
class int(int):
    def __add__(self, a):
        return self * a

int('10') + int('10')

100

In [ ]:
dir(10)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수

value = int('10')
print(dir(value))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes', '제곱']

In [ ]:
value.제곱(3)

1000

In [ ]:
x = 10
y = x
z = y

print(id(x), id(y), id(z))

140481109180944 140481109180944 140481109180944

In [ ]:
x = 10
y = x
x = 100

print(x, y)
print(id(x), id(y), id(z))

100 10
140481109183824 140481109180944 140481109180944

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션에 따르셔야 합니다.
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법(Python에서 주로)
hello_world = 10
# 카멜 표기법(JavaScript에서 주로)
helloWorldHello = 10
# 파스칼 표기법(Class 같은 곳에서 많이 사용합니다.)
Hello = 10

In [ ]:
# 10hello = 100
hello10 = 10

π = 3.14 # 권하지 않습니다.
print(π)

_ = 100 # 언더바는 자주사용되는데 이렇게 사용되진 않습니다.
print(_)

3.14
100

In [ ]:
for _ in range(10): # 언더바를 순회 안에서 변수로 사용하지 않을때
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# if = 100
# print = 100

In [ ]:
# print('hello')

In [ ]:
print(a)

NameError: ignored

## 입력과 출력

In [ ]:
x = input()
x

In [ ]:
x + x # 사용자에게 받은 입력은 str

In [ ]:
print(10, 10, 10)

In [ ]:
print('hello', 'world', 'hello')

In [ ]:
print(x, x)

In [ ]:
print('hello world', end='!')
print('hello world', end='!')
print('hello world', end='!')

In [ ]:
print('hello', 'world', sep='!')
print('010', '5044', '2903', sep='-')

In [ ]:
이름 = '이호준'
나이 = 10

print('1. 제 이름은 이호준입니다. 제 나이는 10입니다.')
print('2. 제 이름은 ', 이름, '입니다. 제 나이는 ', 나이, '입니다.', sep='')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다.'%(이름, 나이))
print('4. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))
print(f'4. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [ ]:
print(f'{100 * 10}')

In [ ]:
# 중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않습니다.
result = 100 * 10
print(f'{result}')

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":<10}')
print(f'{"hello":>10}')
print(f'{"hello":^10}')

In [ ]:
txt = 'hello'
i = 10
print(f'{txt:>10}')
print(f'{txt:>{i}}')

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":!<10}')
print(f'{"hello":!>10}')
print(f'{"hello":!^10}')

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":=<10}')
print(f'{"hello":=>10}')
print(f'{"hello":=^10}')

In [ ]:
# 둘 다 잊으셔도 됩니다.
# 어디에 활용되는지 궁금하다 하신 분이 있으셔서 해드린 것입니다.
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
bin(9)
print(f'{bin(9)[2:]:0>5}')

In [ ]:
bin(9 | 30)[2:].replace('1', '#').replace('0', ' ')

In [ ]:
# 요정도 활용을 합니다.
print(f'{"start":-^20}')

In [ ]:
print(f'{0.12345:0.2f}')

* 이 아래 코드는 필수는 아닙니다. 참고삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

In [ ]:
char_a = '5'
int_a = 5

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{char_a:>5}') # >는 오른쪽정렬
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}')# <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

## int (정수)

* 파이썬에서는 숫자를 정수, 실수, 복소수로 나눠 표현합니다.
* 2진수, 8진수, 16진수는 정수로 표현됩니다.

In [ ]:
a = 1234567899999999999999999999999999999999999999999999999999999
print(type(a))
# 2.x에서는 int와 long 두 가지가 있었는데 Python3에서는 int만 있습니다! 아무리 큰 수가 담겨도 int!

In [ ]:
a = 10**100 # 구골(googol)
print(a)
print(type(a))

In [ ]:
10 # 정수
-10 # 정수
10.1 # 실수

a = 10
type(a)
dir(a)

In [ ]:
'bit_length' # bit로 바꾸었을 때 비트의 길이
'to_bytes' # 컴퓨터에 저장하는 바이트의 형태로 숫자를 표현

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가바이트) = 1024KB
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [ ]:
(9).bit_length() # 1001

In [ ]:
# 컴퓨터가 숫자를 어떻게 저장하는가?
(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)
(-2).to_bytes(1, byteorder='little', signed=True)

In [ ]:
# 컴퓨터는 음수를 자체적으로 표현할 수 없기에 2의 보수를 사용합니다. 
# 1의 보수를 사용하게 되면 +0과 -0이 존재하게 됨으로 비트 하나를 낭비하게 됩니다. 
# 따라서 2의 보수를 사용합니다.

In [ ]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의 보수
# 1111 1111 # 1의 2의 보수 => ff

In [ ]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺍니다.
# 10진법
# 0 1 2 3 4 5 6 7 8 9 -> 10
# 1324 = 1*10^3 + 3*10^2 + 2*10^1 + 4*10^0

# 2진법
# 0 1 -> 10
# 1001 = 1*2^3 + 1*2^0 = 9

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e f -> 10

In [ ]:
# color의 표현
# 2596be
# 000000 ~ ffffff
# ff는 10진수로 무슨 숫자를 의미
# 100 - 1 => ff가 됩니다. 그래서 256 - 1

In [ ]:
a = 10
type(a)

In [ ]:
int('10') + int('10')

In [ ]:
int('10', 2) # 2진법으로 10은?

In [ ]:
int('10', 8) # 8진법으로 10은?

In [ ]:
int('10', 16) # 16진법으로 10은?

In [ ]:
print(0b110) # 바이너리 - 2진수
print(0o110) # 옥타 - 8진수
print(0x110) # 헥사 - 16진수

In [ ]:
type(0b110)

In [ ]:
a = 10
type(a) == int
isinstance(a, int)

## float (실수)

In [ ]:
a = 10.1

type(a)

In [ ]:
dir(a)

In [ ]:
a = 10
b = 10.1

a + b # 다른 일부 언어에서는 허용되지 않습니다.

In [ ]:
# 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
0.1 + 0.2 # 대부분의 언어 공통입니다.

In [ ]:
a = 0.1

In [ ]:
# 20번 반복해보세요.
a = a + 0.1
a

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.
* [무한수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)

## 오늘 배운 것 정리
1. 단축키
    * (필수) Ctrl(Command) + Enter : 해당 셀 실행
    * (필수) Alt(Option) + Enter : 해당 셀 실행 + 코드 불록 하단 추가
    * (필수) Ctrl + / : 주석
    * (필수) Shift + Del : 한 줄 지우기
    * (필수) Tab, Ctrl + ] : 들여쓰기
    * (필수) Shift + Tab, Ctrl + [ : 내어쓰기

2. 마크다운
    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

3. 주석

    ```python
    #행 단위 주석입니다.

    """
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    """

    '''
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    '''
    ```

4. PEP8 권고사항
    * 띄어쓰기는 4칸
    * 한 줄에 79자 이상을 사용하지 않는다.

5. 형의 종류(type, dir)
    * 컨벤션 자료형(list, tuple, dict, set)은 나중에 진행합니다.
    * int
    * float
    * bool
    * str
    * function
    * bulit-in function

6. 이스케이프 문자
    * https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
    ```python
    print('hello \n world')
    print('hello \t world')
    print('hello \' world')
    print('hello \" world')
    print('hello \\ world')
    ```

7. 실무에서 자주 사용하는 타입확인 구문
    ```python
    type(10)
    type(10) == int
    type(10.1) == float

    a = 10
    isinstance(a, int)
    isinstance(a, float)
    ```

8. 변수의 인사이트
    ```
    dir을 입력했을 때
    1. __hello__와 같은 형태의 메직 메서드는 속성을 표현한다
    2.  언더바가 없는 메서드는 해당 자료형의 편의 기능을 제공한다
    ```

9. 입력과 출력
    ```python
    x = input() #입력, 숫자를 입력해도 str
    print(x) #출력

    이름 = '이호준'
    나이 = 10
    print(f'제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')
    print(f'{100 * 10}')
    ```


10. int 형
    * 2진수, 8진수, 16진수는 정수


11. float 형
    * 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
    0.1 + 0.2 # 대부분의 언어 공통입니다.
    * https://docs.python.org/ko/3/tutorial/floatingpoint.html
    * https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.

## str (문자열)

- 순서가 있는 **시퀀스 자료형**입니다.
- 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
- 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
- 이스케이프 문자도 사용이 가능합니다.
- 리스트, 튜플도 시퀀스 자료형입니다.

In [ ]:
s = 'paullab CEO leehojun'
s[0] # 0은 index입니다. 이렇게 호출하는 것을 indexing이라고 합니다.

In [ ]:
type(s)

In [ ]:
dir(s)

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [ ]:
s = 'paullab CEO leehojun'
s.lower(), s.upper() 
# 특히 사용자에게 입력을 받는 경우 lower도 많이 사용합니다.

In [ ]:
s = 'paullab CEO leehojun'
s.find('C'), s.index('C')

In [ ]:
# 견고한 코드란?
# 시간이 지나도 그대로 사용할 수 있고
# error가 예측 가능하게 나는 코드
# 네이버에 이미지 슬라이딩 코드
# bool(s.find('Z')) => -1은 True이기 때문에 주의가 필요합니다.
s.find('Z')

In [ ]:
# Error가 나면 Error를 주는 것이 좋을 수 있습니다.
# Error를 안주는 언어로 JavaScript
s.index('Z')

In [ ]:
s = 'paullab CEO leehojun'
s.find('CEO')

In [ ]:
# 별 5개
s = 'paullab CEO leehojun'
s.count('l')

In [ ]:
str([1, 2, 3, 4, 5])

In [ ]:
str([1, 2, 3, 4, 5]).count(' ')

In [ ]:
str([1, 2, 3, 4, 5]).count(',')

In [ ]:
str([1, 2, 11, 4, 111]).count('1')

In [ ]:
str(list(range(0, 10001))).count('8')

* https://codingdojang.com/scode/393?answer_mode=hide

In [ ]:
str([1,2,3,4,5]).count(' ') 
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

In [ ]:
str([1,
     2,
     3,
     4,
     5]).count(' ')
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

In [ ]:
'hello'.count('')

In [ ]:
'a'.count('')

In [ ]:
''.count('')

In [ ]:
'' + ''

In [ ]:
'   hello   !  '.strip('') # 공백제거 메서드

'   hello   !  '

In [ ]:
'   hello   !  '.rstrip()

In [ ]:
'   hello   !  '.lstrip()

In [ ]:
# 별 5개
'hello world hi'.replace(' ', '!')
'hello world hi'.replace('world', 'W@O@R@L@D').upper()

In [ ]:
'hello world hi'.replace('world', 'W@O@R@L@D').upper().split('@')
# 반환값이 list이기 때문에 메서드 체이닝을 하려면 
# 이후로 list 메서드를 사용해야 합니다.

In [ ]:
'hello world hi'.replace(' ', '')

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ', '').replace('"', '')

# Pythonic하지 않다!
data.split('\n')[0].replace(' ', 
                '').replace('"', 
                '')

# Pythonic하게 하려면
data.split('\n')[0]\
                .replace(' ', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')

# 제가 사용하는 기법
processed_string = data.split('\n')[0].replace(' ', '').replace('"', '')
processed_string.replace('"', '').replace('"', '')

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 79자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 39자

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
ord('A'), chr(65) # ord는 문자를 가지고 숫자로 변경 chr은 숫자를 가지고 문자로 변경합니다.

숫자 = data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
int(숫자, 2)
chr(int(숫자, 2))

In [ ]:
# 별 4.5개
'paullab CEO leehojun'.split(' ') #문자열을 쪼개어 줍니다.
'paullab!CEO!leehojun'.split('!')
'paullab,CEO,leehojun'.split(',')

In [ ]:
# 퀴즈
'010 5044 2903' # 1번
'010-5044-2903' # 2번
'010 5044-2903' # 3번

In [ ]:
# 원하는 결과값
# ['010', '5044', '2903']
# [10, 5044, 2903] # 010은 error가 나기 때문에 10으로 저장

In [ ]:
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace(' ', '-').split('-')

In [ ]:
'010 5044 2903'.split() # 공백단위가 들어가기 됩니다.

In [ ]:
# '01050442903'.split('') # 빈 문자열을 넣지는 못합니다.

In [ ]:
list(map(int,'010 5044 2903'.split(' ')))

In [ ]:
int('010')

In [ ]:
# print(010) # error

In [ ]:
num ='010 5044-2903'.replace('-',' ').split(' ')
[int(i) for i in num] # 리스트 컴프리헨션 사용
list(map(int, '010 5044 2903'.split(' ')))

# 2개 모두 새로운 리스트를 만드는 것입니다.
# 원본을 변경시키지 않습니다.

list(map(int, '01050442903'))

In [ ]:
# 이 코드 보다는
s = []
for i in '010 5044-2903'.replace('-',' ').split(' '):
    s.append(int(i))
s

# 요 코드를 추천합니다.
[int(i) for i in num]

In [ ]:
# 지금 진도에서 과하기 때문에 
# 지금은 잊으셔도 됩니다.
# 뒤에서 상세하게 다룹니다.
def 제곱함수(x):
    return x ** 2

def 정수함수(x):
    return int(x)

list(map(제곱함수, [1, 2, 3]))
list(map(정수함수, ['1', '2', '3']))
list(map(int, ['1', '2', '3']))

list(map(int, ['010', '5044', '2903']))
list(map(int,'010 5044 2903'.split(' ')))

In [ ]:
# 별 4.5 개
'~'.join(['hello', 'world', 'hello'])
'!'.join(['hello', 'world', 'hello'])
# ''.join(['hello', 'world', 'hello'])
# ' '.join(['hello', 'world', 'hello'])

'hello!world!hello'

In [ ]:
'hello'.isalpha()

True

In [ ]:
'he llo'.isalpha()

False

In [ ]:
'123'.isdigit()

True

In [ ]:
'12a3'.isdigit(), '12 3'.isdigit()

(False, False)

In [ ]:
'12a3'.isalnum(), '12 3'.isalnum()

(True, False)

In [ ]:
'안녕하세요!'.isalpha(), '안녕하세요!'.isalnum()

In [ ]:
# 퀴즈
# 숫자를 모두 더하라!
result = 0
for i in '123abc913sldlf':
    # print(i.isdigit())
    if i.isdigit():
        result += int(i) # result = result + int(i)
result

In [ ]:
result = 0
for i in '123abc913sldlf':
    if i.isdigit():
        result += int(i)
result

In [ ]:
'paullab CEO leehojun'.isascii()

In [ ]:
'paullab CEO leehojun'.rjust(30) #오른쪽 정렬
'paullab CEO leehojun'.ljust(30) #왼쪽 정렬
'paullab CEO leehojun'.center(30)#가운데 정렬

In [ ]:
'hello'.zfill(20) # 데이터의 빈 공간을 0으로 채워줍니다.

In [ ]:
'1001'.zfill(5)
'hello'.zfill(10).replace('0', '-')

In [ ]:
규칙테이블 = str.maketrans({'\n':'', '\t':''})
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

In [ ]:
'paullab \n\n\n CEO \t\t\t leehojun'.replace('\n', '').replace('\t', '')

In [ ]:
규칙테이블 = str.maketrans('\n\t', '  ') # 똑같은 길이를 가지고 있어야 함
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

In [ ]:
규칙테이블 = str.maketrans('le','12')
'paullab CEO leehojun'.translate(규칙테이블) #어떤 규칙을 정하는것

## pep

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 40자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep20에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8이란 무엇인가요?
# pep8 : Style Guide for Python Code (https://peps.python.org/pep-0008/)
# pep20 : The Zen of Python(https://peps.python.org/pep-0020/) #이스터애그로 숨겨져 있습니다.
# https://peps.python.org/

## cpython

* 공식홈페이지에서 다운로드 받는 것이 cpython입니다.
* https://github.com/python/cpython
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

## 인덱싱과 슬라이싱

In [ ]:
name = 'Guido van Rossum'
print(name[0])
print(name[1])
print(name[2])

In [ ]:
# s[start:stop:step]
s = 'paullab CEO leehojun'
s[5:]
s[:5]
s[3:10]
s[:]
s[0:20:2]

In [ ]:
# 자주 사용되는 코드
s = 'paullab CEO leehojun!'
s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.

In [ ]:
test = [1, 2, 3, 4]
test2 = test
test2[0] = 1000
test, test2

In [ ]:
test = [1, 2, 3, 4]
test2 = test[:] # 새로운 리스트를 만들어서 test2에게 줍니다.
test2[0] = 1000
test, test2

## 문자열의 연산

In [ ]:
s = 'hello world'
dir(s)
s + s
s * 3

## 형변환

* 형변환 : type을 변경하는 것입니다.

In [ ]:
x = int(input())
x + x # but 알파벳 입력하면 error!

In [ ]:
x = input()
if x.isdigit():
    x = int(x) # but 알파벳 입력하면 error!
x + x

In [ ]:
# int('abc') # error
int(10.1) # 버림
int('10') # 형변환 가능
# int('10.1') # 형변환 불가능

In [ ]:
float('10') # 형변환 가능
float('10.1') # 형변환 가능

In [ ]:
int('10a') # 되는 언어가 있어서 보여드린 것입니다.
# Python에서는 허용하지 않습니다.

In [ ]:
def hello():
    pass

str(type)
str(hello)

str('123')
str(True)
str(None)
str([1, 2, 3])
str({1, 2, 3})
str({'one':1, 'two':2})

In [ ]:
# 별 5개
# bool 형으로 형변환 하는 것
if True:
    print('hi')

if 'hello':
    print('hi')

# 정말 많이 사용하는 코드
# l = [1, 2, 3]
# while l:
#     print(l.pop())

l = [1, 2, 3]

print(l.pop())
l

bool('') # 빈 문자열을 제외하고 모두 True
bool('a')
bool('False') # 문자열 False이기 때문에 True
bool(0) # 0을 제외하고 모두 True
bool(-1)
bool(100)
bool(None) # None은 비어있음을 명시해주는 키워드, False
bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
bool({})

hi
hi
3

False

In [ ]:
# list로 형변환
s = '10'
l = list(s)
l

In [ ]:
s = 'leehojun'
l = list(s)
l

In [ ]:
# map('함수', '반복자')
# Python program to demonstrate working
# of map.
 
# Return double of n
def addition(n):
    return n + n
 
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(map(addition, result)))

In [ ]:
# tuple로 형변환
s = 'leehojun'
l = tuple(s)
l

In [ ]:
# dict
# name = 'leehojun' # error
# dict(name)

s = [('name','leehojun'), ('age',10)]
d = dict(s)
d

In [ ]:
list = [1, 2, 3, 4]
tuple = (1, 2, 3, 4)
set = {1, 2, 3}
dict = {'a': 1, 'b': 2, 'c':3}

In [ ]:
# set(집합)으로 형변환
name = 'leehojun'
set(name)
age = 30
print(f"나이는[age]이름은{name}")

In [ ]:
len('hello world') # __len__
len([1, 2, 3, 4, 5, 6, 70])

## 문제풀이

In [ ]:
# 1번의 오답(아래처럼 변수를 선언하지 않도록 주의해주세요.)

#1번
# print = 100

#2번
# 10 = a

#4번
# 100k = 10000

In [ ]:
# 2번
user_input = input('문자를 입력해주세요!')
print(user_input * 2)

In [ ]:
print(input('문자를 입력해주세요!') * 2)

In [ ]:
# 3번
num = 1234567890
list(str(num))
list(str(num))[3]

## 산술연산

In [ ]:
a = 10
b = 3

print(f'10 + 3 == {a + b}')
print(f'10 - 3 == {a - b}')
print(f'10 / 3 == {a / b}')
print(f'10 // 3 == {a // b}') # 몫만 나옵니다.(정수만요!)
print(f'10 * 3 == {a * b}')
print(f'10 ** 3 == {a ** b}')
print(f'10 % 3 == {a % b}') # 나머지

In [ ]:
# 연산자 우선순위는 and, or, 4칙연산, 제곱 정도만 아셔도 
# 코딩하는데 큰 무리가 없습니다.
# (모르시면 읽는데 어려움이 생기기도 합니다.)

print(3 ** 2 * 3)
print(3 * 3 ** 2) # 왜 81이 아니지?
# 곱하기 보다 제곱이 우선순위가 더 높습니다.
print(3 + 3 * 2) # 3 + 3부터 먼저 하지 않습니다.

In [ ]:
a = 10
b = 3

print(f'10 > 3 == {a > b}')
print(f'10 >= 3 == {a >= b}')
print(f'10 < 3 == {a < b}')
print(f'10 <= 3 == {a <= b}')
print(f'10 == 3 == {a == b}')
print(f'10 != 3 == {a != b}')

## 논리연산

In [ ]:
# and 는 곱
# or 는 합
# not은 반대
# True 1
# False 0
# 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

print(True and False)
print(True or False)
print(True or True)

if True and False:
    print('hello')

if 10 > 3 and 8 % 3 == 0:
    print('hello')

# and는 언제 True가 되나요?
# 모두 True일 때만 True
# or는 언제 True가 되나요?
# 둘 중에 하나라도 참이라면 True

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

In [ ]:
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

In [ ]:
result = 0
for i in range(101):
    if i % 3 == 0:
        result += i # result = result + i
    if i % 5 == 0:
        result += i
    if i % 15 == 0:
        result -= i
print(result)

In [ ]:
result = 0
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        result += i
result

In [ ]:
not True

In [ ]:
not False

In [ ]:
# python 입장에서 보는 코드
# False and ????? => 물음표에 무엇이 나오든 False
# 그래서 Python도 저 물음표를 보지 않습니다.
def solution():
    1/0

# if False and solution():
#     print('hello')

In [ ]:
# True or ?????  => 물음표에 무엇이 나오든 True
# 그래서 Python도 저 물음표를 보지 않습니다.
def solution():
    1/0

if True or solution():
    print('hello')

In [ ]:
# 단락 평가(컴퓨터가 어디까지 보는지 판단해서 활용)
username = '' # 사용자가 아무것도 입력하지 않았을 경우
username = username or 'licat'
username

In [ ]:
username = 'leehojun' # 사용자가 이름을 입력했을 경우
username ='licat' or username
username

In [ ]:
# and와 or의 우선순위(and가 더 높습니다.)
for i in range(21):
    if i % 3 == 0 and i % 5 == 0 or i % 2 == 0:
        print(i)

for i in range(21):
    if (i % 3 == 0 and i % 5 == 0) or i % 2 == 0:
        print(i)

In [ ]:
# 아래는 출력되는 값이 다릅니다! 우선순위가 낮은 or가 먼저 나왔기 때문입니다.
# 결론 : 헷갈리시면 괄호를 사용해주세요!
for i in range(21):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

for i in range(21):
    if i % 3 == 0 or i % 5 == 0 and i % 2 == 0:
        print(i)

## 비트연산 (중요도 하)

In [ ]:
# and(곱하기)
# 1001 == 9
# 0010 == 2
# ----
# 0000

In [ ]:
9 & 2

In [ ]:
# and(곱하기)
# 1001 == 9
# 1000 == 8
# ----
# 1000

In [ ]:
9 & 8

In [ ]:
# or(더하기, 대신 자리올림이 되진 않습니다.)
# 1001 == 9
# 0011 == 3
# ----
# 1011

9 | 3

In [ ]:
# xor(같을 경우 0, 다를경우 1)
# 1001 == 9
# 0011 == 3
# ----
# 1010
9 ^ 3

In [ ]:
~9 # 2보수를 취하는 것입니다.(9에게 +1한 다음에 -를 취하시면 됩니다.)
~-7 # 2보수를 취하는 것입니다.(7에게 +1한 다음에 -를 취하시면 됩니다.)

In [ ]:
3 << 2 
# 3을 2진수로 표현하면 11인데 2칸을 왼쪽으로 미는 것입니다.
# 1100

In [ ]:
7 >> 2

## 디스코드 단축키

* `:ok`

## 할당연산

In [ ]:
# a = 10
# a = a + 10
a = + 10 # 이렇게 a를 지우면 양수를 표현하는 10만 남아요.
a

In [ ]:
a = 10
a += 10 # a = a + 10
a

In [ ]:
a = 10
a //= 10 # 산술연산 모두 됩니다.
a

In [ ]:
# Python에서 특이하게 ++a, ++b, a++, b++가 없습니다.

## 식별연산자

In [ ]:
# 앞으로 아래 2개를 활용해서 Python에 
# 컨벤션 자료형이 어떻게 구성이되는지 확인해볼겁니다.
# id()
# is

In [ ]:
a = 256
b = 256
a is b

In [ ]:
a = 999
b = 999
a is b

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

In [ ]:
a[0] = 100
a, b

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b # Python에 등호는 type과 value를 봅니다.

In [ ]:
# is는 주소값을 비교합니다.
id(a) == id(b) # 이게 False면 is도 False입니다.

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

id(a) #5152

In [ ]:
id(b) #9280

In [ ]:
a == b # 값이 같은 것과 메모리에 같은 공간에 저장되어 있다는 얘기는 다른 얘기입니다!

## not의 위치

In [ ]:
a = 10
b = 100
a is not b
# a not is b # error

In [ ]:
a = 10
b = [10, 20, 30]
a not in b

## 멤버연산

In [ ]:
'a' in 'helalo world'
'a' in 'hello world'
'a' in ['a', 'b']
'a' in {'a':10, 'b':20}
# 10 in {'a':10, 'b':20} # dict안에있는 value값이 있는지 확인하고 싶으면
10 in {'a':10, 'b':20}.values()
10 in {10, 20, 30}

In [ ]:
'a' not in ['aa', 'bb']

In [ ]:
10 in [10, 20, 30]
[10] in [10, 20, 30]
[10] in [[10], 20, 30]
[10, 20] in [10, 20, 30]
[10, 20] in [[10, 20], 30]
set([10, 20]).issubset(set([10, 20, 30]))
{10, 20}.issubset({10, 20, 30, 40})

## 연습문제

In [ ]:
#1번
a = 100
print((a > 100) and (a < 200))
print((a > 100) or (a < 200))
print((a >= 100) and (a <= 200))
print((a >= 100) or (a <= 200))

In [ ]:
#2번
b = 25
(b % 2 == 0) and (b % 5 == 0)

In [ ]:
#3번
c = 1000
c / 100
c // 100

In [ ]:
#4번
# 그리디 알고리즘(욕심쟁이 알고리즘)
남은금액 = int(input())

오천원 = 남은금액 // 5000
# 남은금액 = 남은금액 % 5000
남은금액 = 남은금액 - (5000 * 오천원)

천원 = 남은금액 // 1000
남은금액 = 남은금액 % 1000

오백원 = 남은금액 // 500
남은금액 = 남은금액 % 500

백원 = 남은금액 // 100
남은금액 = 남은금액 % 100

print(오천원, 천원, 오백원, 백원)

## 오늘 배운 것 정리

1. str
    - 순서가 있는 **시퀀스 자료형**입니다.
    - 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
    - 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
    - 이스케이프 문자도 사용이 가능합니다.
    - 리스트, 튜플도 시퀀스 자료형입니다.
    - 메서드
        - lower
        - index, find
        - count
        - strip
        - replace
        - split, join
        - isdigit
2. 슬라이싱
    - 시퀀스형 자료형을 자를 수 있습니다.
    - 형태
    ```
    # s[start:stop:step]
    s = 'paullab CEO leehojun'
    s[5:]
    s[:5]
    s[3:10]
    s[:]
    s[0:20:2]
    # 자주 사용되는 코드
    s = 'paullab CEO leehojun!'
    s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
    s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.
    ```

3. 형변환
    - 형변환 : type을 변경하는 것입니다.
    - int, float, str 등 자료형에 이름으로 형태를 변경할 수 있습니다.
    - 그 중에서도 bool이 매우 중요합니다.
    ```
    # 별 5개
    # bool 형으로 형변환 하는 것
    if True:
        print('hi')

    if 'hello':
        print('hi')

    # 정말 많이 사용하는 코드
    l = [1, 2, 3]
    while l:
        print(l.pop())

    bool('') # 빈 문자열을 제외하고 모두 True
    bool('a')
    bool('False') # 문자열 False이기 때문에 True
    bool(0) # 0을 제외하고 모두 True
    bool(-1)
    bool(100)
    bool(None) # None은 비어있음을 명시해주는 키워드, False
    bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
    bool({})
    ```

4. 산술연산
    ```
    a = 10
    b = 3

    print(f'10 + 3 == {a + b}')
    print(f'10 - 3 == {a - b}')
    print(f'10 / 3 == {a / b}')
    print(f'10 // 3 == {a // b}') # 몫만 나옵니다.(정수만요!)
    print(f'10 * 3 == {a * b}')
    print(f'10 ** 3 == {a ** b}')
    print(f'10 % 3 == {a % b}') # 나머지
    ```

5. 논리연산
    ```
    # and 는 곱
    # or 는 합
    # not은 반대
    # True 1
    # False 0
    # 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

    print(True and False)
    print(True or False)
    print(True or True)

    # https://codingdojang.com/scode/350?answer_mode=hide
    for i in range(101):
        if i % 3 == 0 and i % 5 == 0:
            print(i)
    ```

6. 할당연산
    ```
    a = 10
    a += 10 # a = a + 10
    a //= 2
    a
    ```

7. is, in
    1. is
        ```
        a = [1, 2, 3]
        b = [1, 2, 3]

        id(a), id(b)
        a == b # 값이 같은 것과 메모리에 같은 공간에 저장되어 있다는 얘기는 다른 얘기입니다!
        ```
    2. in
        ```
        'a' in 'helalo world'
        'a' in 'hello world'
        'a' in ['a', 'b']
        'a' in {'a':10, 'b':20}
        # 10 in {'a':10, 'b':20} # dict안에있는 value값이 있는지 확인하고 싶으면
        10 in {'a':10, 'b':20}.values()
        10 in {10, 20, 30}
        ```

In [ ]:
!jupyter nbconvert --to markdown a.ipynb

In [ ]:
ord('가') # 유니코드에서 해당 텍스트 값을 읽어옴,

## 5월 4일 시작

##함수

In [ ]:
# 1. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
# 2. 코드의 구조를 한 눈에 파악할 수 있습니다.
# 3. 직관적으로 알아볼 수 있게 짜야한다.

In [ ]:
# 파선아실 (파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y): # x,y는 파라미터 변수가 됨
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}') # 5와 7은 아규먼트

In [ ]:
# 파선아실 (파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y): # x,y는 파라미터 변수가 됨
    z = x + y
print(f'function(5, 7) = {function(5, 7)}') # 5와 7은 아규먼트

function(5, 7) = 12

In [ ]:
# 파선아실 (파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y): # x,y는 파라미터 변수가 됨
    z = x + y
    return None
print(f'function(5, 7) = {function(5, 7)}') # 5와 7은 아규먼트

In [ ]:
# 파선아실 (파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y): # x,y는 파라미터 변수가 됨
    z = x + y
    return
print(f'function(5, 7) = {function(5, 7)}') # 5와 7은 아규먼트

In [ ]:
def hello():
    print('1')
    print('2')
    print('3')
print(hello())

1
2
3
None

In [ ]:
# 함수 연습문제 1
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    one()
    return 

print(two())

two1
two2
one1
one2
one3
None

In [ ]:
# 함수 연습문제 2
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    x = one()
    return x + x

print(two())

two1
two2
one1
one2
one3
200

In [ ]:
# 함수 연습문제 3

def one(a, b):
    print('one1')
    print('one2')
    print('one3')
    return a + b

def two(x):
    y = 100
    print('two1')
    print('two2')
    x = one(x, y)
    return x + x

print(two(10))

two1
two2
one1
one2
one3
220

In [ ]:
# 함수 연습문제 4

def one():
    print('one')
    return 10

def two():
    print('two')
    return 10

def three():
    print('three')
    return 10

a = one()
b = two()
c = three()
print(a + b)
print(a + b + c)

one
two
three
20
30

In [ ]:
# 함수란 무엇일까요?
# 함수의 이름은 메모리 상에 코드 블럭을 가리키는 변수입니다

gony = print
gony('hello') # 소괄호는 그 함수 블록을 실행시키는 명령어가 됩니다.

hello

In [ ]:
id(gony), id(print)

(140477953365296, 140477953365296)

In [ ]:
l = [gony, print, gony, print]
gony('hello world')
l[0]('hello world')

In [ ]:
def hello(a):
    a('hello')
    a('hello')
    a('hello')

print(hello(print))

In [ ]:
def hello():
    def custom_sum(a, b):
        return a + b
    return custom_sum

c = hello()
c(10, 100)

110

In [ ]:
def hello(a):
    return a

c = hello(print)
c(10, 100)

[10, 100]

![image.png]()

## 함수의 기본 기능

In [ ]:
# return을 빨리 만나게 해주세요.
# early return
# 조건이 부합하지 않으면 바로 return을 하도록 하는 코딩 패턴
# 이렇게 작성함으로써, 가독성이 좋은 코드
def custom_sum(x, y):
    if type(x) != int or type(y) != int:
        return '연산할 수 없습니다.'
    z = x + y # 100줄이라 가정
    return z
print(custom_sum(5, '가나다'))

연산할 수 없습니다.

In [ ]:
# 함수 안에 함수와 함수 안에 변수는 밖에서 호출이 안됩니다.
# 아래것이 만약 실행되었다면 위 어딘가에서 two와 x가 정의되어 있는 것 입니다.

def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    x = 1000
    return 100

x = one()
print(x)
two()

# hello1
# hello2
# x = 1000
# one() = 100
# 100
# hello1

In [ ]:
# 함수 안에 함수와 함수 안에 변수를 해봤으니
# 이번에는 함수 밖에 함수와 함수 밖에 변수를 해보도록 하겠습니다.

def test():
    print('test')

def one():
    test()

def two():
    test()

one()
two()
test()

test
test
test

In [ ]:
#이렇게 하시면 error가 납니다. 밖에 있는 변수는 수정이 안됩니다.
test = 10

def one():
    test = 20
    return test

    
print(test)
print(one())
print(test)

10
20
10

#지역 변수와 전역 변수

In [ ]:
# 전역변수 접근은 가능하지만 수정이 되진 않습니다.
a = 100
def f():
    a = a + 1
f()

In [ ]:
# 전역변수를 함수 내부에서 수정이 되게 하는 코드입니다.
# 권하지 않습니다.

a = 100
def f():
    global a 
    a = a + 1
f()
print(a)

100

In [ ]:
# 정해진 루트 외에 다른 루트로 해당 값을 수정하려고 하지 마세요요
a = 100
def f(x):
    x = x + 1
    return x
a = f(a)
print(a)

101

In [ ]:
# 순수 함수
def f(x):
    return x + x + 100
f(10)
f(20) # 아규먼트 값에 따라 다르지만 
# 아규먼트에 2배해서 100이 더해진 다는 사실은 변하지 않음

120

In [ ]:
test = 100
def f(x):
    return x + x + 100 + test
f(10)

# 아규먼트 값에 따라 다르지만 
# 아규먼트에 2배해서 100이 더해진 다는 사실은 변하지 않음
# 그렇지 않습니다. test값이 다른 곳에서 조작이 되면
# 더해지는 값이 200이 안될 수도 있죠.
# 예측이 불가하게 되는 것!

220

In [ ]:
# 지역변수와 전역변수 이어서
# 전역변수 : 전역에서 접근할 수 있는 변수
# 지역변수 : 함수 내에서만 접근할 수 있는 변수

In [ ]:
a = 100
def one():
    a = 10
    print(a)

one()
print(a)

In [ ]:
# 어려우신분들은 패스
# 자신의 공간에 변수가 선언되어 있지 않으면
# 전역까지 찾아 올라갑니다. 전역에도 없으면 error

a = 100
def one():
    # a = 10
    def two():
        def three():
            a = 1000
            print(a)
        three()
        print(a)
    two()
    print(a)

one()
print(a)

# 1000
# 10
# 10
# 100

1000
100
100
100

In [ ]:
# inner 가 outer에 변수를 건드리고 싶은데
# inner 안에서는 x에 수정권한이 전혀 없습니다.
x = 100
def outer():
    x = 1
    def inner():
        # nonlocal x
        # x += 1
        print(x+1)
    inner()
    print(x)

outer()
print(x)

2
1
100

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        global x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

#재귀함수

* 내가 나를 호출하는 것입니다.
* 재귀 <-> for문은ㅇ 대부분 호환이 가능합니다.
* 반복문 사용하시기를 권합니다.
* 어렵고 효율도 안좋아요!
* 필수적으로 사용하는 곳이 있습니다

In [ ]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
def 숫자출력():
    print(1)
    return 숫자출력()
숫자출력()

In [ ]:
# for로 펙토리얼
# 5! = 5*4*3*2*1

result = 1

for i in range(1, 6):
    result *= i

result

120

In [ ]:
# 재귀로 팩토리얼

def f(n):
    if n <= 1:
        return 1
    else:
        return n * f(n-1)


f(5)

'''
f(5)  5 * f(4)
f(4)  4 * f(3)
f(3)  3 * f(2)
f(2)  2 * f(1)
f(1)  1
'''

120

In [ ]:
# for로 문자열 거꾸로 출력하기
s = 'hello' # [::-1] 슬라이싱
result = ''

for i in s:
    result = i + result

result
'''
result = 'h' + ''
result = 'e' + 'h'
result = 'l' + 'eh'
result = 'l' + 'leh'
result = 'l' + 'lleh'
result = 'o' + 'olleh'
'''

# 실무에서는 이렇게 거꾸로 만들지 않습니다.
# 슬라이싱이 일반 for문보다 8배 빠릅니다.
# s[::-1] 이렇게 쓰시면 됩니다.

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse('hello')

'''
reverse('hello') reverse('ello') + 'h' == 'olle' + 'h'
reverse('ello')  reverse('llo') + 'e'  == 'llo' + 'e'
reverse('llo')   reverse('lo') + 'l'   == 'ol' + 'l'
reverse('lo')    reverse('o') + 'l'    == 'o' + 1
reverse('o')     o
'''

"\nreverse('hello') reverse('ello') + 'h' == 'olle' + 'h'\nreverse('ello')  reverse('llo') + 'e'  == 'llo' + 'e'\nreverse('llo')   reverse('lo') + 'l'   == 'ol' + 'l'\nreverse('lo')    reverse('o') + 'l'    == 'o' + 1\nreverse('o')     o\n"

In [ ]:
# 피보나치
# 재귀가 얼마나 비효율적인지 보여드리기 위해서 진행
# 1 1 2 3 5 8 13 21

curr = 1
next = 1
for i in range(1, 5):
    curr, next= next, curr + next
    
next

8

In [ ]:
# 피보나치 재귀

def f(n):
    if n == 1 or n == 2:
        return 1
    return f(n-1) + f(n-2)

1, 1, f(3), f(4), f(5), f(6)

(1, 1, 2, 3, 5, 8)

In [ ]:
# 재귀에 비효율을 이렇게 해결할 수는 있다를 보여드리기 위함
# but 가능 하면 for를 사용하자

from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

102334155

## 데코레이터

## 클로저, 팩토리 함수

In [ ]:
# 연습문제 1

a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	

a = 함수1()
print(a)

# I
# love
# python

I
love
python

In [ ]:
# 연습문제 2

def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
	return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [ ]:
plus = lambda num1, num2 : num1 + num2
minus = lambda num1, num2 : num1 - num2
multiply = lambda num1, num2 : num1 / num2
divide = lambda num1, num2 : num1 * num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    try:
        return num1 + num2
    except:
        return float('inf')

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

plus : 15
plus : inf
plus : inf
plus : 105
plus : inf
plus : 11
plus : 5
plus : 20.1

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    if type(num1) == int and type(num2) == int:
        return num1 + num2
    return float('inf')

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

In [ ]:
#연습문제 39자

# x의 n제곱을 구하는 함수를 만들어주세요.
# 재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)


# 피보나치 재귀

def f(n):
    if x > 1 and n > 1:
    return x^n

In [ ]:
x = 3
def 제곱(n):
    if n == 0:
        return 1
    return x * 제곱(n-1)

제곱(3)
제곱(4)

81

In [ ]:
x = 3
def 제곱(x, n):
    if n == 0:
        return 1
    return x * 제곱(x, n-1)

제곱(3, 3)
제곱(4 ,4)

256

In [ ]:
def my_pow(num1, num2):
    if num2 == 0:
        return 1
    if num2 == 1:
        return num1
    if num2 % 2 == 0:
        half = my_pow(num1, num2 // 2)
        return half * half
    else:
        half = my_pow(num1, num2 // 2)
        return half * half * num

In [ ]:
# 재귀함수 아님
# 팩토리 함수, 클로저라고도 합니다.
def 제곱(x):
    def 승수(y):
        return x ** y
    return 승수

제곱3 = 제곱(3) # 제곱3 = 승수
제곱3(4)

81

## 리스트

* 순서를 가진 데이터들의 집합(Sequence)
* 리스트는 값의 변경이 가능하다
* 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
* 리스트 안에 다른 object(딕셔너리, 셋, 튜플)를를 넣는 것이 가능합니다

In [ ]:
l = [1000, 2000, 3000, 1000, 2000, 3000]
id(l[0]), id(l[3])

(140479862304912, 140479862304912)

In [ ]:
# 컨벤션 자료형(딕셔너리, 튜플, 셋, 리스트)에서는
# 메모리 효율을 위해
# 같은 값이 있을 경우 같은 id를 가리키게 설계되어 있음

In [ ]:
l = [10, 20, 30, 40]
l[0] = 1000
l

[1000, 20, 30, 40]

In [ ]:
s = 'hello world'
s[0] = 'k' # error
s

In [ ]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
data[0]

[1, 2, 3]

In [ ]:
data[0][0]

1

In [ ]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

data[0][0] *= 2
data[0][1] *= 2
data[0][2] *= 2
data[1][0] *= 2
data[1][1] *= 2
data[1][2] *= 2
data[2][0] *= 2
data[2][1] *= 2
data[2][2] *= 2
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for i in range(3):
    for j in range(3):
        data[i][j] *= 2
        data[i][j] *= 2
        data[i][j] *= 2

data

[[8, 16, 24], [32, 40, 48], [56, 64, 72]]

In [ ]:
'''
3       == 스칼라
[3, 4]  == 벡터
[[1, 2, 3], [4, 5, 6], [7, 8, 9]] == 매트릭스 행렬
[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]] == 텐서(다차원, 3차원 이상)

인공지능 중 유명한 라이브러리  => 텐서플로우
'''

In [ ]:
# 리스트에서 주의해야 하는 연산!
x = [10] * 3
x

[10, 10, 10]

In [ ]:
x[0] = 100
x

[100, 10, 10]

In [ ]:
x = [[10] * 2] * 3
x

[[10, 10], [10, 10], [10, 10]]

In [ ]:
x[0][0] = 100
x

[[100, 10], [100, 10], [100, 10]]

In [ ]:
x = [[[10] * 3] * 3] * 4
x[0][0][0] = 1000
x

[[[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]]]

In [ ]:
id(x[0][0]), id(x[0][1])
id(x[0][0]) == id(x[0][1])
id(x[0][0]) != id(x[0][1])

(140479859874432, 140479859874432)

In [ ]:
# [1, 2, 3] + [1, 2, 3] # 많이 사용함함

list

In [ ]:
l = [10, 20, 30]
type(l), dir(l), help(l)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'],
 None)

## 리스트의 메서드

In [ ]:
# 'append', 'clear', 'copy', 'count', 'extend', 'index', 
# 'insert', 'pop', 'remove', 'reverse', 'sort'

In [ ]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

In [ ]:
l = [1, 2, 3]
l.append([1, 2, 3])
l

[1, 2, 3, [1, 2, 3]]

In [ ]:
l = [1, 2, 3]
l.extend('hello') #error
l

[1, 2, 3, 'a']

In [ ]:
l = [1, 2, 3]
l.extend([1, 2, 3])
l

[1, 2, 3, 1, 2, 3]

In [ ]:
l = [1, 2, 3]
l.extend({'one':10, 'two':20})
l
a = {'one':10, 'two':20}
a['one']

10

In [ ]:
l = [1, 2, 3]
l.extend({10, 20, 30, 30})
l

[1, 2, 3, 10, 20, 30]

In [ ]:
l = [1, 2, 3]
l.extend([1, 2, 3])
l

[1, 2, 3, 1, 2, 3]

In [ ]:
l = [10, 20, 30]
l.clear()
l

[]

In [ ]:
인천과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 인천과일가게
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 인천과일가게

([['바나나', 2000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 2000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
#이 이상의 내용은 뒤에 얕은 복사와 깊은 복사에서 알아봅니다다

인천과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 인천과일가게.copy() # 얕은 복사 인천과일가게[:] 로 대부분 사용용
# 서울과일가게[0] = ['바나나', 2000]
id(서울과일가게[0]), id(인천과일가게[0])
id(서울과일가게[0][0]), id(인천과일가게[0][0])
서울과일가게[0][1] = 3000
서울과일가게, 인천과일가게

([['바나나', 3000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 3000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
s = 'hello world'
s[:5]

'hello'

In [ ]:
l = [10, 20, 30, 40, 50]
l[:3]
ll = l[:]
ll

[10, 20, 30, 40, 50]

In [ ]:
id(l), id(ll)

(140479859882368, 140479860062592)

In [ ]:
l = [1, 2, 3]
ll = l[:]
l[0] = 1000
l, ll

([1000, 2, 3], [1, 2, 3])

In [ ]:
l = [1, 2, 3, 1, 1, 1, 2, 3, 2, 3, 1, 1]
l.count(1)

6

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12]
a.index(11) # find가 없음
a[:a.index(11)]

3

In [ ]:
a = [10, 20, 30]
a.insert(2, 1000) # insert는 값을 지우지는 않습니다다
a

[10, 20, 1000, 30]

In [ ]:
# 별 5개
l = [10, 20, 30, 40, 50] # 많이 사용합니다다
l.pop()

50

In [ ]:
# append : 맨 뒤에 추가
# pop : 맨 뒤에서 값을 뽑아내고, index가 들어갈 경우 index에서 뽑습니다.
# insert : index에 값을 삽입하고 원래있던 값을 뒤로 밀어냅니다.

In [ ]:
l = [10, 20, 30, 40, 50]
l.remove(20) # 예를 들어 for를 돌면서 remove를 하지 않기 바랍니다.
l

[10, 30, 40, 50]

In [ ]:
l = [20, 20, 20, 20, 20]
for i in range(len(l)):
    print(len(l)) # len가 계속 변하기 때문에 의도치 않은 에러가 날 수 있어요
    l.remove(20)

# 무한 반복입니다.

5
4
3
2
1

In [ ]:
# 5월 4일 시작

l = [10, 20, 30, 40, 50, 20, 20, 20]
for i in range(l.count(20)): #range(4)
    l.remove(20)
l

In [ ]:
# 실무에서 어떤 값을 전부 없에거나
# 어떤 값을 전부 찾는 것
def f(x):
    return x != 20

# True인 것만 반환해줍니다.
list(filter(f, [10, 20, 30 ,40, 50, 20, 20, 20]))

[10, 30, 40, 50]

In [ ]:
filter(f, [10, 20, 30 ,40, 50, 20, 20, 20])

In [ ]:
range(100) # 시작값과 종료값만 가지고 있음 ? 메모리공간을 효율적으로 사용하기 위함일까?

range(0, 100)

In [ ]:
for i in filter(f, [10, 20, 30 ,40, 50, 20, 20, 20]):
    print(i)

10
30
40
50

In [ ]:
list(filter(lambda x:x!=20, [10, 20, 30, 40, 50, 20, 20, 20]))

#lambda 파라미터:기능

[10, 30, 40, 50]

In [ ]:
l = [20, 20, 20, 20]
for i in l:
    print(len(l))
    l.append(20)

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
l.reverse() # 역 정렬이 아니고 역순이며. 원본을 만집니다.
l

[1, 9, 8, 3, 4, 6, 5]

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l))) # 역 정렬이 아니고 역순이며 원본을 만지지 않습니다.
print(l)

[1, 9, 8, 3, 4, 6, 5]
[5, 6, 4, 3, 8, 9, 1]

In [ ]:
# l.reverse() : 리스트의 메서드 이며, return None입니다! 역순, 원본을 만집니다
# reversed() : 빌트인펑션이며, return 역순 입니다! 원본을 만지지 않습니다.

In [ ]:
ㅣ = [5, 6, 4, 3, 8, 9, 1]
print(l.reverse())
l

None

[5, 6, 4, 3, 8, 9, 1]

In [ ]:
print(list(reversed(l)))
print(l)

[1, 9, 8, 3, 4, 6, 5]
[5, 6, 4, 3, 8, 9, 1]

In [ ]:
print(type(range(10)))

<class 'range'>

In [ ]:
# 메서드는 대상.메서드종류()
# 빌트인함수는 함수명()
# 서로 작성양식?으로 구분하시면 됩니다

## sort

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
l.sort() #  원본을 만집니다. why? .을 찍어서..? 괄호가 있는건 함수. 변수명뒤에 함수가 있으면 무조건 함수다 but 클래스도있긴함... 클래스안에 함수를 메서드 라고함
#반환값은 None 입니다.
l

[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]

In [ ]:
sorted([1, 5, 4, 2, 8, 5, 10, 9, 2, 3])
print(sorted([1, 5, 4, 2, 8, 5, 10, 9, 2, 3]))
# 원본을 만지지 않고, 반환값은 정렬된 값 why? . 이 없어서..!?
print(l)  # 위에서 원본 l 을 만져서 그런듯

[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]
[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]

In [ ]:
# 이렇게 실무에서 진행하진 않습니다
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
l.sort()
l.reverse()
l

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
# 이렇게 많이 사용 합니다.
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
l.sort(reverse=True) # 내림차순
l

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
sorted(l, reverse=True) # 내림차순

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
l = [[1, 10, 'gony'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv'], 
     [1, 2, 'likelion'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def f(x):
    return len(x[2])
print(sorted(l, key=f, reverse=False))
print(sorted(l, key=lambda x:len(x[2]), reverse=False))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def f2(x):
    return x[0]

#print(sorted(l))
print(sorted(l, key=f2,))
print(sorted(l, key=lambda x:x[0], reverse = False ))
# print(sorted(l, key=lambda x:x[0]))

# 3. 중앙에 위치한 값대로 정렬해주세요.

def f2(x):
    return x[1]

#print(sorted(l))
print(sorted(l, key=f2,))
print(sorted(l, key=lambda x:x[1], reverse = False ))
# print(sorted(l, key=lambda x:x[1]))

l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

def f4(x):
    return x[0] + x[1] + x[2] # 전체 sum과 같음 x[0] + x[1] + x[2] 요렇게 적어도 됨

def f5(x):
    return sum(x)

print(sorted(l, key=f4))
print(sorted(l, key=f5))
print(sorted(l, key=lambda x: sum(x)))
print(sorted(l, key=f4))

#암기해!

#print(sorted(l))
print(sorted(l, key=f2,))
print(sorted(l, key=lambda x:x[1], reverse = False ))
# print(sorted(l, key=lambda x:x[1]))

In [ ]:
l = [[1, 10, 'gony'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv!'], 
     [1, 2, 'hello world'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def f(x):
    return len(x[2])

print(sorted(l, key=f, reverse=False))
print(sorted(l, key=lambda x:len(x[2]), reverse=False))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def f2(x):
    return x[0]

print(sorted(l))
print(sorted(l, key=f2))
print(sorted(l, key=lambda x:x[0]))

# 3. 중앙에 위치한 값대로 정렬해주세요.

def f3(x):
    return x[1]

print(sorted(l))
print(sorted(l, key=f3))
print(sorted(l, key=lambda x:x[1]))

l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

def f4(x):
    return x[0] + x[1] + x[2]

def f5(x):
    return sum(x)

print(sorted(l, key=f4))
print(sorted(l, key=f5))
print(sorted(l, key=lambda x: sum(x)))
print(sorted(l, key=sum))

In [ ]:
#
#

point = [1, 3, 4, 8, 13, 17, 20]
point[1:]

[1, 3, 4, 8, 13, 17, 20]
[3, 4, 8, 13, 17, 20]

[3, 4, 8, 13, 17, 20]

In [ ]:
list(zip('hello', 'world'))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [ ]:
# https://codingdojang.com/scode/408?answer_mode=hide
# 좌표 평면 문제가 나오면 차원 축소나 차원 확대가 가능한 문제인지 확인

point = [1, 3, 4, 8, 13, 17, 20]
point[1:]

[1, 3, 4, 8, 13, 17, 20]
[3, 4, 8, 13, 17, 20]

[3, 4, 8, 13, 17, 20]

In [ ]:
# list(zip(point, point[1:]))

# 다음 문제를 풀어보세요

def f(x):
    return x[1] - x[0]

sorted(zip(point, point[1:]), key=f)[0]

(3, 4)

In [ ]:
def f(x):
    return x[1] - x[0]

sorted(zip(point, point[1:]), key=lambda x:x[1] - x[0])[0]

(3, 4)

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120835
# 응급도
# [3, 76, 24]
# 우선순위
# [3, 1, 2]

l = [3, 76, 24]
정렬된값 = sorted(l, reverse=True)
정렬된값 # [76, 24, 3]
# 우리가 원하는 값 [2, 0, 1]

결과값 = [
            정렬된값.index(l[0]), 
            정렬된값.index(l[1]), 
            정렬된값.index(l[2])
        ]
결과값

[2, 0, 1]

#깊은 복사와 얕은 복사

In [ ]:
# 아무런 복사도 이뤄지지 않은 상태
l = [[1000, 2000, 3000], [4000, 5000, 6000]]
ll = l
ll[0][0] = 10
l, ll

([[10, 2000, 3000], [4000, 5000, 6000]],
 [[10, 2000, 3000], [4000, 5000, 6000]])

In [ ]:
l = [1000, 2000, 3000, 1000, 1000, 1000]
id(l[0]), id(l[3]), id(l[4]), id(l[5])

(140016297572464, 140016297572464, 140016297572464, 140016297572464)

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
    print(i, j, k)

10 20 [1, 2]
30 40 [3, 4]
50 60 [5, 6]

In [ ]:
my_name = "홍길동"

print("안녕하세요.",  my_name + "입니다")

안녕하세요. 홍길동 입니다

In [ ]:
def f(x):
    return d[x]

for i in d:
    print(f(i))

10
20
31
11

In [ ]:
# 얕은 복사 = copy or f[:] 슬라이싱싱
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
ll[0] = 10
l, ll

([1000, 2000, 3000, 4000, 5000, 6000], [10, 2000, 3000, 4000, 5000, 6000])

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l[0]), id(ll[0]) # 같은 값이 나오니까 같은 객체를 가리키고 있다?

(139907313112368, 139907313112368)

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l), id(ll) # 같은 값이 나오니까 같은 객체를 가리키고 있다?

(139908161482944, 139907313009408)

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0][0] = 10
l, ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
id(l[0]), id(ll[0])
# 얕은복사는 원 뎁스만 복사한다 l[0]
# 깊은복사는 끝까지 다

(140016295551232, 140016295551232)

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0] = 100
l, ll

([[1, 2, 3], [4, 5, 6]], [100, [4, 5, 6]])

*l = ll == 복제(같은 id값을 가리킴)

*l = l.copy == 1차원 요소값만 복제

*예를 들어 l[0] 을 바꿀 경우 ll은 변하지 않지만,

*l[0][0] 을 바꿀 경우 ll 도 변함 (2차원 요소값은 같은 id이기 때문)

*l = l.copy.deepcopy() 는 전체 복사라서 어떤 차원의 값을 변경해도 다른 리스트에 영향을 주지 않음

In [ ]:
# 깊은 복사
import copy

l = [[1000, 2000, 3000], [4000, 5000, 6000]]
ll = copy.deepcopy(l)
ll[0][0] = 10
l, ll

([[1000, 2000, 3000], [4000, 5000, 6000]],
 [[10, 2000, 3000], [4000, 5000, 6000]])

In [ ]:
# id(l), id(ll)
# id(l[0]), id(ll[0])
# id(l[0][0]), id(ll[0][0])

(139907313110416, 139908561011216)

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10

* 얕은 복사는 1 계층만 복사합니다.
* 깊은 복사는 n 계층까지 모두 복사합니다.

* 나를 이해시키는 단 하나의 코드는 반드시 존재한다.

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l[:]
l[0] = 100  #l[0][0] 이어야함
l, ll

([100, [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l[:] # l.copy를 써도 마찬가지 입니다.
l[0][0] = 100  
l, ll

([[100, 2, 3], [4, 5, 6]], [[100, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음에 다시 오셔서 복습해라

l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l] # [[1, 2, 3], [4, 5, 6]]
l[0][0] = 100  
l, ll

([[100, 2, 3], [4, 5, 6]], [[100, 2, 3], [4, 5, 6]])

In [ ]:
# 1단계 깊은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음에 다시 오셔서 복습해라

l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l] # 얕은복사가 깊은복사가됨..?
l[0][0] = 100  
l, ll

([[100, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

# 다차원 리스트

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33], 
     ['gony', 20, 30]]

# 문제: jun만 뽑아주세요

a[2][0][:2]
# print(a[2][0][5]), (a[2][0][6]), (a[2][0][7]), sep='')

'go'

# 리스트에서 bulit-in function을 활용용

* 알아야 하는 빌트인 funtion

A
abs()
all()
any()

B
bin()
bool()

C
chr()

D
dict()
dir()

E
enumerate()
eval()

F
filter()
float()

G
globals()

H
help()
hex()

I
id()
input()
int()
isinstance()
issubclass()
iter()

L
len()
list()
locals()

M
map()
max()
min()

N
next()

O
object()
oct()
open()
ord()

P
pow()
print()
property()




R
range()
repr()
reversed()
round()

S
set()
setattr()
slice()
sorted()
staticmethod()
str()
sum()
super()

T
tuple()
type()

V
vars()

Z
zip()

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a)) #최댓값
print(min(a)) #최솟값
print(sum(a)) #전체값의 합

8
1
36

In [ ]:
#2차원
a = [[1, 2, 3, 'a'],
     [11, 22, 33, 'aaa'],
     [10, 2000, 30, 'aa']]
max(a) # 2000을 뽑는게 아니라 [10, 2000, 30] 을 뽑아냄

max(a, key=lambda x:x[1])
min(a, key=lambda x:len(x[3]))
# sum(a) error
# sum(a, [])

[1, 2, 3, 'a']

In [ ]:
# 이름, 별점, 객실수, 가격격
호텔 = [
     ['이스트소프트 호텔', 5, 100, 155000],
     ['삼스트소프트 호텔', 4, 80, 145000],
     ['사스트소프트 호텔', 3, 70, 135000],
]
max(호텔, key=lambda x:x[3]) #가장 가격이 높은 것을 뽑아낼 수 있음
min(호텔, key=lambda x:x[3]) #가장 가격이 낮은 것을 뽑아낼 수 있음
     # 마지막에 콤마를 허락하는 언어는 제한적 (특히 JSON에서는 )

['사스트소프트 호텔', 3, 70, 135000]

In [ ]:
[
  {
    "_id": "645316963157fe0876df24b8",
    "index": 0,
    "age": 23,
    "name": "Angelia Booker",
    "gender": "female"
  },
  {
    "_id": "645316966fa34f32345e9637",
    "index": 1,
    "age": 36,
    "name": "Moreno Stone",
    "gender": "male"
  },
  {
    "_id": "64531696adf661cb6ce7b5d4",
    "index": 2,
    "age": 31,
    "name": "Perry Mccullough",
    "gender": "male"
  }
]

# 여기서 나이 젤 많은사람 추출해보쟝!

# 리스트의 순회

In [ ]:
#1차원
a = [1, 2, 3, 4, 5, 6, 7, 8]

for i in a: # for 변수 in 순회가능한객체
     print(i)

1
2
3
4
5
6
7
8

In [ ]:
#2차원
a = [[1, 2, 3], [11, 22, 33], [13, 20000,30000]]

for i in a: # for 변수 in 순회가능한객체
     print(i)
     print('---')
print('end')

[1, 2, 3]
---
[11, 22, 33]
---
[13, 20000, 30000]
---
end

In [ ]:
#2차원
a = [[1, 2, 3], [11, 22, 33], [13, 20000,30000]]

for i in a: # for 변수 in 순회가능한객체
    for j in i:
     print(j)
     print('---')
print('end')

1
---
2
---
3
---
11
---
22
---
33
---
13
---
20000
---
30000
---
end

#range

In [ ]:
# range(start, stop, step)
# 슬라이싱과 같은 규칙
# 슬라이싱은 ':'(콜론)으로 연결되어 있고
# range는 ','(콤마)로 연결되어 있습니다.

print(list(range(100)))
# python 2.x에서 python 3.x에 range를 사용하고 xrange를 사용
print(list(range(5, 10)))

print(list(range(0, 101, 2))) #짝수
print(sum(list(range(0, 101)))) #0부터 100까지의 합을 구하라 이게 맞을까? 
print(sum(range(0, 101))) #0부터 100까지의 합을 구하라 이게 맞을까?  리소스 낭비로 list 제거

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
5050
5050

In [ ]:
# range(start, stop, step) 
# 슬라이싱과 같은 규칙
# 슬라이싱은 ':'(콜론)으로 연결되어 있고
# range는 ','(콤마)로 연결되어 있습니다.

print(list(range(100))) 
# python 2.x에서 python 3.x에 range를 사용하고 싶다면 xrange(10)
print(list(range(5, 10)))

print(list(range(0, 101, 2))) #짝수
print(list(range(1, 101, 2))) #홀수
print(list(range(100, 1, -2)))
print(sum(list(range(0, 101))))
print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum하시는 것을 권합니다.

## list comprehension

In [ ]:
# l = [1, 2, 3, 4, ...]
# list(range(1, 101)) # 이게 젤 편하지만 제곱을 표현하고 싶다면 아래 껄로
l = []
for i in range(1, 101):
    l.append(i)
l

In [ ]:
# l = []
# for i in range(1, 11):
#     l.append(i**i)
# l
# 리스트 컴프리헨션을 사용하자 가독성도 좋고 빠름
l = [i**i for i in range(1, 11)]
l

l = [i for i in range(1, 11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l = []
for i in range(1, 100):
    if i %3 == 0 or i %5 == 0:
        l.append(i)

[i for i in range(1, 100) if i %3 == 0 or i %5 == 0]

## 튜플

- 튜플은 순서가 있는 시퀀스형 자료형입니다.
- 참조값은 변경이 불가능(immutable) 합니다. # 값이 아니라 참조값임!
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
- 값의 중복을 허락합니다.

In [ ]:
t = (10, 20, 30)
t[1] = 1000

In [ ]:
l = [1, 2, 3]
t = (l, 20, 30) # 불변인 것은 t가 l을 참조하고 있다는 것이 불변변
l[0] = 1000
l

[1000, 2, 3]

In [ ]:
t = (10, 20, 30, 40, 50)
# t[:3] #위에꺼랑 다름 슬라이싱하면 다른 객체임임

15

In [ ]:
type(t), dir(t)

In [ ]:
t = (10, 20, 30, 40, 50 ,20)
t.index(20), t.count(20)

(1, 2)

In [ ]:
t = tuple('gony')
t
t = tuple()
t
t = tuple(range(10))
t
t = (1)
t
t = (1,) #원소를 하나씩 넣고 싶을 때는 콤마(,)를 사용합니다
t

(1,)

## 딕셔너리
- 딕셔너리는 순서가 없는 자료형입니다.
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
- 값의 변경이 가능합니다.
- 다른 자료형을 입력할 수 있습니다.
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [ ]:
data = [{
    '게시물 번호' : 1,
    '게시자': '김권이',
    '게시물 내용' : '......'
},{
    '게시물 번호' : 2,
    '게시자': '김권삼',
    '게시물 내용' : '......'
},{
    '게시물 번호' : 3,
    '게시자': '김권사',
    '게시물 내용' : '......'
}]

data[1]['게시자']

'김권삼'

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d
d['one']

'하나'

In [ ]:
d['two'] = '투'
d # 키는 중복되지 않음

{'one': '하나', 'two': '투', 'three': '셋'}

In [ ]:
d = {} #dict
type(d)

d = {10} #set
type(d)

d = dict()
type(d)

d = {'one' : 1}
type(d)

dict

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.items()

dict_items([('one', '하나'), ('two', '둘'), ('three', '셋')])

In [ ]:
dict([('one','하나'), ('two', '둘'), ('three', '셋')])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
dict([['one', '하나'], ['two', '둘'], ['three', '셋']])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
dict(name='gony', age=10)

{'name': 'gony', 'age': 10}

In [ ]:
list(zip('ABC', '123', 'abc'))

dict(zip('ABC', '123')) # 형변환

{'A': '1', 'B': '2', 'C': '3'}

In [ ]:
# dict와 list를 사용해서 아래와 같은 형태로 데이터를 만들어주세요

# 원하는 형태 {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

In [ ]:
dict(zip('ABC', [[10, 20], [20, 30], [30, 40]]))

{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

In [ ]:
'B' in {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

True

In [ ]:
%%timeit

s = 0
for i in range(10000):
    s += i

1.4 ms ± 420 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
sum([i for i in range(10000)])

49995000

In [ ]:
len({'A': [10, 20], 'B': [20, 30], 'C': [30, 40]})

3

In [ ]:
# 공부해두시면 좋습니다!
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '수요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day, '요일을 찾지 못했습니다.')

switch(7)
switch(8) # error # get을 사용하면 None, 못 찾는값을 넣었을 때 default를 줍니다.

'요일을 찾지 못했습니다.'

In [ ]:
!python --version

Python 3.10.11

In [ ]:
def number_to_string(agrument):
    match agrument:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"
        case default:
            return "nothing"


print(number_to_string(0))
print(number_to_string(1))
print(number_to_string(2))
print(number_to_string(3))
print(number_to_string(4))

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.values()

dict_values([[10, 20], [20, 30], [30, 40]])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.items()

dict_items([('A', [10, 20]), ('B', [20, 30]), ('C', [30, 40])])

In [ ]:
# {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.get('B', '없습니다')

[20, 30]

In [ ]:
dict.fromkeys('gony')
dict.fromkeys('gony', 100)

{'g': 100, 'o': 100, 'n': 100, 'y': 100}

In [ ]:
keys = ('name', 'age', 'grade')
values = ('gony', '10', '수')

dict.fromkeys(keys, values)

{'name': ('gony', '10', '수'),
 'age': ('gony', '10', '수'),
 'grade': ('gony', '10', '수')}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.update({'one': 1, 'two': 2})
d

{'one': 1, 'two': 2, 'three': '셋'}

## 딕셔너리의 순회

In [ ]:
# key만 순회합니다
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(i)

In [ ]:
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(d[i])

#언패킹

In [ ]:
#패킹 : 1, 2, 3 => [1, 2, 3]
#언패킹 : [1, 2, 3] => 1, 2, 3

In [ ]:
a, b, c = 10, 20, 30 
a

10

In [ ]:
a, b, c = (10, 20, 30) # 소괄호든 대괗로든 상관 없습니다
a

10

In [ ]:
i, j = [10, 20]
i

10

In [ ]:
for i, j in [[10, 20], [30, 40], [50, 60]]:
    print(i, j)

10 20
30 40
50 60

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
    print(i, j, k)

10 20 [1, 2]
30 40 [3, 4]
50 60 [5, 6]

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, []]]:
    print(i, j, k)

10 20 [1, 2]
30 40 [3, 4]
50 60 []

In [ ]:
# swap
a = 10
b = 15
a, b = b, a
a, b

(15, 10)

In [ ]:
# swap in c
a = 10
b = 15
temp = a
a = b
b = temp
a, b

(15, 10)

In [ ]:
for i, j in d.items():
    print(i, j)

# max를 이용한 dict 최대 value key값 가져오기

In [ ]:
d = {
    'test1' : 10,
    'test2' : 20,
    'test3' : 31,
    'test4' : 11,
}

# max(d.values()) # 이걸로는 뭔가 찾아내기가 힘듭니다.
# max(d, key=lambda x: d[x])
max(d, key=d.get) # 많이 사용하는 코드 입니다.

for i in {1:2, 3:4, 5:6}:
    print(i)

1
3
5

## set (셋, 집합)

* 집합 자료형은 중복을 허용하지 않으며
* 순서가 없는 자료형

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
print(n)

{1, 2, 3, 4}

In [ ]:
s = set('hello world')
print(s)

{'o', 'w', 'e', 'l', 'r', 'd', ' ', 'h'}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.add(1000)
print(n)

{1, 2, 3, 4, 1000}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.update({10, 20})
print(n)

{1, 2, 3, 4, 20, 10}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.remove(1)
print(n)

{2, 3, 4}

In [ ]:
# 교집합 
a = {1, 2, 3}
b = {3, 4, 5}
a & b
a.intersection(b)

{3}

In [ ]:
# 합집합 
a = {1, 2, 3}
b = {3, 4, 5}
a | b
a.union(b)
# a + b # error

In [ ]:
# 차집합 
a = {1, 2, 3}
b = {3, 4, 5}
a - b
a.difference(b)
# a + b # error

{1, 2}

In [ ]:
s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}
s.issubset({1, 2})
s.issubset({1, 2, 3, 4, 5, 6, 7, 8})

False

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120903?language=python3
def solution(s1, s2):
    return len(set(s1) & set(s2))

# 교집합의 개수 구하는 문제

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120888

# my_string	result
# "people"	"peol"
# "We are the world"	"We arthwold"

In [ ]:
result = ''
for i in 'people':
    if i not in result:
        result += i
result

'peol'

In [ ]:
def solution(my_string):
    return set(my_string)

solution('people')

{'e', 'l', 'o', 'p'}

In [ ]:
def solution(my_string):
    return ''.join(set(my_string))

solution('people')

'lope'

In [ ]:
def solution(my_string):
    집합 = set(my_string)
    result = ''
    for i in my_string:
        if i in 집합:
            result += i
            집합.remove(i)
    return result

solution('people')

In [ ]:
{}

result = 'peol'
def solution(my_string):
    return ''.join(set(my_string))

solution('people')

# !!연습문제

In [ ]:
## 내가 한거거

student_score = {
    '홍의' : 97,
    '원희' : 60,
    '동해' : 77,
    '변수' : 79,
    '창현' : 89,
}

점수 = sum(student_score.values())
print(점수)

평균 = 점수 / len(student_score)
print(평균)

print(f'{max(student_score, key=student_score.get)}:{student_score[max(student_score, key=student_score.get)]}')

# 키값 벨류값 최대 최소소
# 평균점수 = 점수.count
# 평균점수
# 총점 = sum(student_score.values())
# print(총점)
# 평균점수 = avg(student_score.values())

# 최대점수 = max(student_score.values())
# print(최대점수)
# 최소점수 = max(student_score.values())
# print(최소점수)

# keys = ('name', 'age', 'grade')
# values = ('gony', '10', '수')

402
80.4
홍의:97

In [ ]:
student_score = {
    '홍의' : 97,
    '원희' : 60,
    '동해' : 77,
    '변수' : 79,
    '창현' : 89,
}

sum(student_score.values())

402

In [ ]:
sum(student_score.values())/len(student_score)

80.4

In [ ]:
이름 = max(student_score, key=student_score.get)
가장큰값 = student_score[이름]
print(이름, 가장큰값)

홍의 97

In [ ]:
가장큰값 = max(student_score.values())
for i in student_score:
    if student_score[i] == 가장큰값:
        print(i, 가장큰값)

홍의 97

In [ ]:
이름 = min(student_score, key=student_score.get)
가장작은값 = student_score[이름]
print(이름, 가장작은값)

In [ ]:
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']
list(set(like) - set(dislike))

['라면', '볶음밥', '짜장면', '치킨']

5월 8일
## (질의응답) max(student_score, key=student_score.get)

In [29]:
def 함수(x):
    return ll[x]
l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = [20, 10, 30, 40, 50, 60 ,70, 80]
max(l, key=함수)

7

In [33]:
def 함수(x):
    print(x, ll[x])
    return ll[x]
l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = ['hello', 'a', 'bb', 'ccc', 'a', 'bbbb', 'hello world', 'cc']

max(l, key=함수)
max(ll)

2 bb
4 a
5 bbbb
3 ccc
6 hello world
0 hello
7 cc
1 a

'hello world'

In [ ]:
def 함수(x):
    print(x, ll[x])
    return ll[x]

l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = ['hello', 'a', 'bb', 'ccc', 'a', 'bbbb', 'hello world', 'cc']

max(l, key=함수)

In [36]:
# return 에 초점을 맞춰주세요
def 함수(x):
    return d.get(x)

수학 = {
    '학생1': 10,
    '학생2': 20,
    '학생3': 31,
    '학생4': 11,
    '학생5': 10,
}

과학 = {
    '학생1': 11,
    '학생2': 17,
    '학생3': 13,
    '학생4': 11,
    '학생5': 25,
    '학생6': 100,
}

수학점수가가장큰사람 = max(수학, key=수학.get)
과학점수가가장큰사람 = max(과학, key=과학.get)
max(수학, key=과학.get)

'학생5'

In [8]:
def 함수(x):
    return len(x)
l = ['a', 'bb', 'ccc', 'dd']

max(l, key=함수)
max(l, key=len)

'ccc'

In [ ]:
def 함수(x):
    return len(x)
l = ['a', 'bb', 'ccc', 'dd']

max(l, key=함수)
max(l, key=len)

## (질의응답) 함수의 아규먼트 순서서

In [14]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200) #실무에서 이렇게 순서를 바꿔서 넣지 않고 보통 순서를 지켜줍니다.

# 실무에서 언제 사용이 될까요?
# 파라미터, 아규먼츠가 매우 많을 때
# 이런 함수가 나오면 이 함수가 무엇을 뜻하는 것일까요?
# addNewControl("Title", 20, 50, 100, 50, 200, 300, 150)
# addNewControl(title="Title", height=20, width=50, textlen = 100, ...)
# 어? 컨트롤 박스를 만드는 구나...

100 200 300
100 200 300

In [ ]:
def f(a=10, b=20, c): # c만 default value를 안주게 되면 error, 순서대로 안주어야 합니다.
    print(a, b, c)

# f() # error
# f(100, 10) # error
# f(a=100, b=200, c=300) # error
# f(c=300, a=100, b=200) # error

In [ ]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300) #error why? default value를 안줄거면 순서대로 a부터 앞에서부터 안주어야 함

In [37]:
def f(a, b=20, c=10): # 순서대로 안주어야 하기 때문에 a에 값을 넣지 않았습니다.
    print(a, b, c)

# f() # error
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

100 10 10
100 200 300
100 200 300

## (질의응답) zip, map 등 한 번 순회가 되면 순회가 안되는 이유

In [43]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

z = zip(a, b)
print(list(z)) # [(1, 'a'), (2, 'b'), (3, 'c')]

# zip 객체는 한 번 사용되었으므로 빈 리스트가 반환됩니다.
print(list(z)) # []
list(z)
type(z)

[(1, 'a'), (2, 'b'), (3, 'c')]
[]

zip

In [54]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
z = zip(li, st)

for i in z:
    print(i)

for i in z:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
i = iter(zip(li, st))
next(i)
next(i)
next(i)

In [21]:
li = [1, 2, 3]
z = map(lambda x:x**2, li)

for i in z:
    print(i)

for i in z:
    print(i)

# 한번 순회하면 끝임 그래서 메모리를 절약함

1
4
9

In [23]:
li = [1, 2, 3]
z = reversed(li)

for i in z:
    print(i)

for i in z:
    print(i)

3
2
1

In [45]:
li = [1, 2, 3]
z = filter(lambda x:x>1, li)

for i in z:
    print(i)

for i in z:
    print(i)

2
3

In [44]:
# 계속 순회가 가능하게 설계가 되어 있습니다.
# 이런 설계를 뒤에서 우리가 직접 해보게 될 것입니다.
li = [1, 2, 3]
z = sorted(li)

for i in z:
    print(i)

for i in z:
    print(i)

1
2
3
1
2
3

## 조건문

* if, elif, else, continue, break

In [26]:
x = 2
if x > 1 and x < 10:
    print('True')

True

In [29]:
if True:
    print('hello')

hello

In [31]:
if 12309:
    print('hello')

hello

In [36]:
def f():
    return False

if f():
    print('hello')
    print('one')
print('two')

two

In [37]:
if '': # [], {}, '' 는 모두 False 취급합니다. 비어있어서
    print('hello')
    print('one')
print('two')

two

In [39]:
if ' ': # 문자열 공백은 True취급 합니다
    print('hello')
    print('one')
print('two')

hello
one
two

In [40]:
if [   ]: # False취급 안에 아이템이 있어야함
    print('hello')
    print('one')
print('two')

two

In [ ]:
if [,]: # SyntaxError
    print('hello')
    print('one')
print('two')

In [ ]:
if [10,
    20,
    30, # 마지막 콤마는 허락합니다! 소괄호, 중괄호, 대괄호에 공백은 병합합니다.
    ]:
    print('hello')
    print('one')
print('two')

In [56]:
if int(11) == int(10):
    print('hello')

In [46]:
class int(int):
    def __eq__(self, next):
        return True

if int('11') == int('10'):
    print('hello')

hello

In [59]:
if None:
    print('false')

In [60]:
if 10 > 11:
    print('one')
    print('two')
print('three')
else: # error
    print('four')

four
three

In [49]:
if 10 > 11:
    print('one')
    print('two')
else: # error
    print('three')

three

In [61]:
# else가 없어도 되는 경우
def f():
    if 10 > 11:
        return 'one'
    return 'two'

print(f())

two

In [51]:
# 여러개의 if문을 단축할 수 있는 방법 => 
# 가독성이 좋아지는 것을 선택하세요
# and 구문으로 if를 합칠 수 있습니다.
x = 10
if x > 5:
    if type(x) == int:
        print('one')


if x > 5 and type(x) == int:
    print('one')

In [53]:
# 여러개의 if문을 단축할 수 있는 방법 => 
# 가독성이 좋아지는 것을 선택하세요
# and 구문으로 if를 합칠 수 있습니다.
x = 10
if x > 5:
    if type(x) == int:
        if x % 2 == 0:
            print('one')


if x > 5 and type(x) == int and x % 2 == 0:
    print('one')

In [ ]:
if True:
    print('hello')
else:
    print('hello')
else:
    print('hello')
else:
    print('hello')

In [65]:
if True:
    print('hello')
if True:
    print('hello')
if False:
    print('hello')
else:
    print('ello')

hello
hello
ello

In [67]:
if True:
    print('hello')
elif True:
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

hello

In [ ]:
elif True:
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

In [ ]:
# Ctrl + M M 누르면 코드블럭이 마크다운 블럭이 됩니다
# Ctrl + M Y 누르면 마크다운블럭이 코드블럭이 됩니다

## if 심화

In [63]:
if 10 > 5: print('hello') # 1줄에 사용하는 것이 가능 합니다 가독성을 떨어뜨린다고 생각함

hello

In [ ]:
if 1 > 5:print('hello')
elif 5 > 1: print('world')

In [69]:
if 1 > 5: print('hello')
elif 1 > 5: print('world')
else: print('hello world')

hello world

In [71]:
# 3항 연산자는 가독성을 해치지 않는 선에서 많이 사용합니다.
print('one') if 5 > 1 else print('two')

one

In [72]:
# 3항 연산자는 가독성을 해치지 않는 선에서 많이 사용합니다.
(print('one') if 5 > 1 else print('two'))

one

In [69]:
if 5 > 1:
    print('one') else print('two') # error 이렇게 사용하지 않습니다!

one

In [75]:
if 5 > 1:
    print('one')
else:
    print('two')

one

In [77]:
# 할당이나 return에서 많이 사용합니다.
# 할당이나 return을 할 때, 어떤 조건을 달고 싶을 때
# 그런데 일반 if문과 else문 거창하다고 생각이 되었을 때
y = 100
x = 'one' if y > 80 else None

In [79]:
x

'one'

In [70]:
def f(y):
    if y > 80:
        x = 'one'
    else:
        x = None
    return x

print(f(100))
print(f(30))

one
None

In [ ]:
def f(y): # 조건이 하나면 요거 
    if y > 80:
        return 'one'
    return None

print(f(100))
print(f(30))

In [ ]:
def solution():
    answer = True
    if 조건:
         answer = False
     return answer

In [84]:
def f(y):
    return 'one' if y > 80 else None

print(f(100))
print(f(30))

one
None

In [ ]:
def custom_sum(x):
    return sum(x)

custom_sum([1, 2, 3, 4, 5, 6]) # 21
custom_sum([1, 2, 3, 4, '5', 6]) # float('inf')

In [73]:
def custom_sum(x):
    return sum(x) if len(list(filter(lambda x:type(x)==int, x))) == len(x) else float('inf')

custom_sum([1, 2, 3, 4, 5, 6]) # 21
custom_sum([1, 2, 3, 4, '5', 6]) # float('inf')

inf

In [76]:
l = [1, 2, 3, '4', '5']
# list(filter(lambda x:type(x)== int, l))
# len(list(filter(lambda x : type(x) == int, l)))
len(l)

5

In [77]:
score = 81
money = 0

if score >= 90: # 만약에 조건이 참이라면
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70: # '그렇지 않고 만약에'에서 '그렇지 않고'가 만족이 안되기 때문에 실행하지 못합니다.
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)
# if, elif, else 구문은 함께 썼다면 한 덩어리가 되어
# 하나만 실행이 되고 나머지는 실행이 되지 않습니다.

mom : i'm happy!
100000

In [80]:
# 문제 : 다음 if문을 3항 연산자로 표현해주세요.
# if x % 2 == 0:
#     홀짝여부 = '짝수'
# eles:
#     홀짝여부 = '홀수'

# # 답
# x = 'one' if y > 80 else None

# def f(y):
#     return 'one' if y > 80 else None


def 홀짝여부(x):
    return '짝수' if x % 2 == 0 else '홀수'
print(홀짝여부(10))

x = 10
홀짝여부 = '짝수' if x % 2 == 0 else '홀수' # 요게 정답 이게짱임 이거 기억하셈!

짝수

In [ ]:
# 지금하는 것은 위 보다 빈도도 거의 없습니다.
# 3항 연산자의 중첩
# '조건1이 True일 때' if '조건1' else '조건1이 False이고 조건2가 True일 때' if '조건2' else '조건1, 조건2가 False일 때'

In [ ]:
# # '조건1이 True일 때'
# if '조건1':
# else: '조건1이 False이고 조건2가 True일 때'
#     if '조건2':
#     else: '조건1, 조건2가 False일 때'

In [12]:
x = 15
if x % 2 == 0:
    배수 = '2X' # '2의 배수'
elif x % 3 == 0:
    배수 = '3X' # '3의 배수'
else:
    배수 = '?' # 2의 배수도 아니고 3의 배수도 아니다
배수

'3X'

In [13]:
x = 17
배수 = '2X' if x % 2 == 0 else '3X' if x % 3 == 0 else '?'

배수

'?'

## 반복문

In [14]:
# for 변수 in 순회가능한객체:
#     code

In [15]:
# 순회가능한객체 != 시퀀스형자료형 # 순서가 없어도 순회가 가능하기 때문에

In [ ]:
for i in 'hello world':
    print(i)

In [ ]:
for i in 10: # error
    print(i)

In [ ]:
for i in 10.1: # error
    print(i)

In [ ]:
for i in [1, 2, 3]:
    print(i)

In [ ]:
for i in (1, 2, 3):
    print(i)

In [ ]:
for i in {1, 2, 3}:
    print(i)

In [ ]:
for i in {'one': 1, 'two' : 2, 'three' : 3}:
    print(i)

In [ ]:
# 변수에는 range, enumerate, zip, map, sorted, reversed...
for i in range(10):
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in 언어순위:
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위):
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 1):
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 101):
    print(i)

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i, j in enumerate(언어순위, 1):
    print(i, j)

In [ ]:
for idx, val in enumerate(언어순위):
    print(f"{idx+1}등 언어 : {val}")

In [ ]:
for idx, val in enumerate(언어순위):
    if idx > 1:
        print(val)

In [ ]:
for idx, val in enumerate(언어순위):
    if idx > 1:
        print(val)
val = 언어순위
idx = 언어순위.index(x)

args, kargs

lambda

## zip, map 등 한 번 순회가 되면 순회가 안되는 이유유